/* Styling for output */

.education-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 4rem 0 4rem;
}

.education-details-header {
  align-items: center;
  background-color: var(--highlight-color);
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0.25rem;
}

.education-info {
  display: flex;
  gap: 1rem;
}

.education-info-group {
  min-width: max-content;
}

.education-name,
.education-start-end-dates {
  font-weight: bold;
}

/* Styling for inputs */
.education-inputs-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.education-details-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.education-details-form label {
  margin-top: 0.5rem;
}

.remove-education-btn {
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.education-details-form input {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.add-education-btn {
  padding: 0.25rem;
  border-radius: 0.5rem;
}
