@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --base-background: #fafaf9;
  --header-color: #57534e;
  --highlight-color: #e7e5e4;
  --text-color: #1c1917;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--base-background);
  color: var(--text-color);
  font-size: 16px;
}

.content {
  display: flex;
  padding: 1rem;
  gap: 3rem;
}

.cv-inputs-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.address,
.phone-number,
.email {
  display: flex;
  align-items: center;
}
