/* Styling for output */

.personal-details {
  background-color: var(--header-color);
  color: var(--base-background);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.full-name {
  align-self: center;
  font-size: 2rem;
}

.personal-details .wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icon img {
  fill: white !important;
  display: inline;
}

/* Styling for inputs */

.personal-inputs-section {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.personal-details-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.personal-details-form input {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
