/* Styling for output */
.work-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 4rem 0 4rem;
}

.work-details-header {
  align-items: center;
  background-color: var(--highlight-color);
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0.25rem;
}

.work-info {
  display: flex;
  gap: 1rem;
}

.work-info-group {
  min-width: max-content;
}

.work-description {
  margin-top: 8px;
  width: 500px;
}

.work-name,
.work-start-end-dates {
  font-weight: 700;
}

/* Styling for inputs */

.work-inputs-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-details-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.work-details-form label {
  margin-top: 0.5rem;
}

.remove-work-btn {
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.work-details-form input,
.work-details-form textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.work-details-form textarea {
  height: 8rem;
}

.add-work-btn {
  padding: 0.25rem;
  border-radius: 0.5rem;
}
